{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
    {% for student in object_list %}
      <p>
        <li>{{ student.name }} {{ student.group }} <br> Преподаватели: <br>
          {% for teacher in student.teacher.all %}
            {{ teacher.name }}, предмет: {{ teacher.subject }} <br>
          {% endfor %}
        </li>
      </p>
    {% endfor %}
  </ul>
</div>
{% endblock %}
